.code-box {
    /* max-width: 75vw; */
    background: #eee;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    
    overflow-y: scroll;
}
.code-box .code-head{
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}
.code {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    
}
.line {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.5rem;
    position: relative;
    left: 0%;
}
.line > span{
    white-space: pre;
}
.code-box>.code>.line>span {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    white-space: pre;
}
.element {
    color: #2f6f9f;
}
.attribute {
    color: #006ee0;
    padding-left: 0.3rem;
}
.attr-content {
    color: #d73038;
}
.comment {
    color: lightseagreen;
}
